.container {
  width: 1296px;
  margin: 0 auto;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  height: 100px;
}
.left-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 44px;
}
/* ....................................dropdown.............................. */
.dropdown {
  display: none;
  width: 384px;
  padding: 16px 12px 33px 12px;
  flex-direction: column;
  align-items: center;
  background: #fff;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
  position: absolute;
}

.dropdown-container:hover .dropdown {
  display: block;
}

.title-dropdown-menu {
  color: #000;
  font-family: Quicksand;
  font-size: 16px;
  font-weight: 700;
  line-height: 120%;
  padding-top: 40px;
  padding-bottom: 24px;
  margin: 0;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-bottom: 1px solid #000;
  padding-bottom: 40px;
}

.goals-themes-menu {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
/* ...................................................................... */

.right-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 521px;
}

.right-wrapper-links {
  display: flex;
  gap: 48px;
}

.log-sign {
  display: flex;
  gap: 16px;
}

.main-logo {
  color: #000;
  font-family: Quicksand;
  font-size: 32px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.64px;
}
.button {
  display: flex;
  padding: 10px 12px;
  justify-content: center;
  align-items: center;
  color: #eee;
  text-align: center;
  font-family: Quicksand;
  font-size: 16px;
  font-weight: 700;
  line-height: 120%;
  border-radius: 4px;
  background: #0f8277;
  border: 0;
  cursor: pointer;
}
.button-explore {
  position: relative;
}
.button-explore::after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='15' viewBox='0 0 10 15' fill='none'%3E%3Cpath d='M1 8.5L5 12.5L9 8.5' stroke='%23EEEEEE' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  width: 8px;
  padding-left: 8px;
  width: 17px;
}

.button-empty {
  align-items: center;
  color: #0f8277;
  text-align: center;
  font-family: Quicksand;
  font-size: 16px;
  font-weight: 700;
  line-height: 120%;
  background: #dbf3ed;
  padding: 8.5px 12px;
  border-radius: 4px;
  border: 2px solid #0f8277;
  cursor: pointer;
}

.search-form {
  display: flex;
  justify-content: space-between;
  width: 330px;
  height: 36px;
  border-radius: 4px;
  border: 1px solid #5c5c5c;
}

.search-text {
  border: 0;
  padding-left: 12px;
  width: 294px;
  border-radius: 4px 0px 0px 4px;
}
.search-text:focus {
  outline: 1px solid #000;
}

.search-icon {
  padding: 10px;
  border: 0;
  border-radius: 0px 2px 2px 0px;
  background: #0f8277;
  cursor: pointer;
}

.text {
  color: #000;
  font-family: Quicksand;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  margin: 0;
}

.login-link {
  color: #0f8277;
  text-align: center;
  font-family: Quicksand;
  font-size: 16px;
  font-weight: 700;
  line-height: 120%;
  padding: 10px 12px;
}

.banner-container {
  border-radius: 12px;
  background: #dbf3ed;
  display: flex;
  justify-content: center;
  padding-top: 39px;
  padding-bottom: 30px;
}

.banner-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 32px;
  width: 512px;
  margin-right: 26px;
}

.banner-logo {
  color: #000;
  font-family: Quicksand;
  font-size: 56px;
  font-weight: 700;
  line-height: 120%;
  margin: 0;
}

.section-description {
  color: #000;
  font-family: Quicksand;
  font-size: 22px;
  font-weight: 600;
  line-height: 120%;
  margin: 0;
}

.button-wrapper {
  display: flex;
  gap: 24px;
}

.banner-picture {
  margin-left: 100px;
}
/* .........................................academic-training.......................... */
.training-cources-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 12px;
  scroll-behavior: smooth;
  margin-top: 80px;
}

.section-green-title {
  color: #0f8277;
  font-family: Quicksand;
  font-size: 20px;
  font-weight: 700;
  line-height: 120%;
  margin: 0;
}

.section-main-title {
  color: #000;
  font-family: Quicksand;
  font-size: 40px;
  font-weight: 700;
  line-height: 120%;
  padding: 0;
  margin: 0;
}

.academic-training {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 24px;
}
.academic-training-block {
  padding-top: 28px;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px 16px;
  height: 210px;
}

.border-img {
  border-radius: 8px;
}
.content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.education-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.article {
  margin: 0;
  color: #000;
  font-family: Quicksand;
  font-size: 24px;
  font-weight: 700;
  line-height: 120%;
}

.get-a-diploma {
  display: flex;
  column-gap: 12px;
}
.green-text {
  color: #0f8277;
}
/* ..................................Courses and specializations........................ */
.courses-specializations {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 24px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.courses-specializations-block {
  padding-top: 28px;
  padding-bottom: 28px;
}

.text-more-courses {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0f8277;
  font-family: Quicksand;
  font-size: 20px;
  font-weight: 700;
  line-height: 120%;
  margin: 0;
}

.text-more-courses::after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M9.5 12.46H2.5V7.53H9.5V2L18.5 10L9.5 18V12.46Z' fill='%230F8277'/%3E%3C/svg%3E");
  width: 20px;
  height: 20px;
  padding-left: 16px;
}

/* ......................................featured topics by category..................... */
.featured-topics {
  margin-top: 83px;
  margin-bottom: 83px;
}

.title-filter {
  padding: 0;
}
.filters {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 24px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.filter {
  display: grid;
  row-gap: 32px;
}

.filter-item {
  display: grid;
  gap: 10px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.students-number {
  padding-bottom: 32px;
}

/* ........................................companies............................ */
.partners-plans {
  background: #dbf3ed;
}
.partners-wrapper {
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
  text-align: center;
}

.companies-text-container {
  width: 870px;
}
.partners-icon {
  display: flex;
  align-items: center;
  align-self: stretch;
  justify-content: space-between;
}
.business-container {
  margin-top: 80px;
  margin-bottom: 70px;
  display: flex;
  gap: 72px;
}

.business-content {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 67.5px;
  margin-bottom: 67.5px;
}

.business-description-conainer {
  width: 568px;
}

.button-contact-sales {
  width: fit-content;
}
/* .........................................business............................... */
.business-icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}
.business-icon-container {
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 196px;
  height: 136px;
}

.loreal {
  border-right: 1px solid #bababa;
  border-bottom: 1px solid #bababa;
}
.pg {
  border-bottom: 1px solid #bababa;
}
.reliance {
  border-bottom: 1px solid #bababa;
  border-left: 1px solid #bababa;
}
.danone {
  border-right: 1px solid #bababa;
}
.tata {
  border: 0px solid #bababa;
}
.emirates {
  border-left: 1px solid #bababa;
}
.capgemini {
  border-top: 1px solid #bababa;
  border-right: 1px solid #bababa;
}
.general-electric {
  border-top: 1px solid #bababa;
}
.petrobras {
  border-top: 1px solid #bababa;
  border-left: 1px solid #bababa;
}

/* ......................................plan....................................... */

.price-wrapper {
  padding-top: 80px;
  padding-bottom: 100px;
}

.price-wrapper-title {
  text-align: center;
  margin-bottom: 40px;
}

.all-price {
  display: flex;
  gap: 24px;
}

.plan {
  padding: 56px;
  border-radius: 24px;
  border: 1px solid #0f8277;
  background: #fdfdfd;
}
.plan-contant {
  width: 304px;
}
.plan-title {
  display: flex;
  flex-direction: column;
  row-gap: 27px;
  align-items: center;
  text-align: center;
  height: 286px;
  margin-bottom: 48px;
  position: relative;
}

.button-started {
  position: absolute;
  bottom: 0px;
  left: 92.5px;
  color: #f6fdff;
  font-family: Cabin;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.72px;
}

.list {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  border-top: 2px solid #0f8277;
  padding-top: 48px;
  position: relative;
}

.price {
  display: flex;
  gap: 16px;
  align-items: center;
}

.green-plan {
  background: #0f8277;
}

.white-color {
  color: #fff;
}

.white-border {
  border-top: 2px solid #fff;
}

.button-white {
  border: 2px solid #fff;
  padding: 8.5px 12px;
}

.list-item {
  list-style-type: none;
}

.list-item-1 {
  list-style-type: none;
}

.list-item-main::before {
  width: 16px;
  height: 16px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: -35px;
  top: 16px;
}

.list-item-1::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 10 10' fill='none'%3E%3Cpath d='M1 3.16667L4.33333 6.5L9 1.5' stroke='%23F6FDFF' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
  background-color: #0f8277;
}

.list-item::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 10 10' fill='none'%3E%3Cpath d='M1 3.16667L4.33333 6.5L9 1.5' stroke='%230F8277' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
  background: #ffffff;
}
/* ...................................student................................... */
.students-block {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  margin-bottom: 76.5px;
  gap: 40px;
}

.students-block-title {
  text-align: center;
}
.students-wrapper {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(4, 306px);
  grid-template-rows: repeat(3, 210.5px);
  grid-column-gap: 24px;
  grid-row-gap: 23.5px;
}
.student-1 {
  grid-area: 1 / 1 / 2 / 2;
}
.student-2 {
  grid-area: 2 / 1 / 3 / 2;
}
.student-3 {
  grid-area: 3 / 1 / 4 / 2;
}
.student-4 {
  grid-area: 3 / 2 / 4 / 3;
}
.student-5 {
  grid-area: 3 / 3 / 4 / 4;
}
.student-6 {
  grid-area: 3 / 4 / 4 / 5;
}
.student-7 {
  grid-area: 2 / 4 / 3 / 5;
}
.student-8 {
  grid-area: 1 / 4 / 2 / 5;
}
.student-9 {
  grid-area: 1 / 2 / 3 / 4;
}
/* ......................................contact.................................. */
.contact-form {
  display: flex;
  width: 565px;
  padding: 30px;
  flex-direction: column;
  gap: 24px;
  border-radius: 24px;
  background: #dbf3ed;
}

.title-contact-us {
  text-align: center;
}

.form-description {
  text-align: center;
  color: #000;
  font-family: Quicksand;
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  margin: 0;
}

.textarea {
  width: 100%;
  height: 104px;
  padding: 12px 20px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #0f8277;
  background: #fdfdfd;
  resize: none;
}

.form-button {
  width: 196px;
  font-family: Cabin;
}

.label-form {
  color: #000;
  font-family: Quicksand;
  font-size: 22px;
  font-weight: 600;
  line-height: 24px;
}
.placeholder-style {
  width: 100%;
  height: 48px;
  padding: 12px;
  border-radius: 4px;
  border: 1px solid #0f8277;
  background: #fdfdfd;
}

.placeholder-text-style {
  color: #8e8e8e;
  font-family: Quicksand;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}

.contact-us {
  background-image: url(../images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: overlay;
  padding-bottom: 48px;
  padding-top: 65px;
  margin-top: 76.5px;
}
/* ...................................footer...................................... */
.footer-container {
  display: flex;
  padding-top: 64px;
  padding-bottom: 64px;
  justify-content: space-between;
}

.footer-logo {
  margin: 0;
}

.left-footer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 16px;
  width: 306px;
}

.right-footer {
  display: flex;
  flex-direction: column;
  gap: 60px;
  width: 306px;
}

.social-wrapper {
  list-style-type: none;
  display: flex;
  justify-content: end;
  gap: 24px;
}

.social-item1 {
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  background-image: url(../icons/instagram.svg);
}
.social-item2 {
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  background-image: url(../icons/facebook.svg);
}
.social-item3 {
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  background-image: url(../icons/linkidin.svg);
}
